body {
  background-color: rgb(255, 255, 255);
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
}

h2 {
  font-size: 30px;
  text-align: center;
  height: 75px;
}

span{
  font-size: 75px;
  margin-top: 20px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  float: left;

}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
}